$prim-pink: rgba(244,139,169,255);
$prim-light-pink: rgba(240,176,188,255);
$prim-beige: rgba(250,218,222,255);
$prim-blue: rgba(134,203,237,255);
$prim-light-blue: rgba(134,203,237,255);
$prim-purple: rgba(147,110,212,255);
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$font-tertiary: 'Inter', sans-serif;
$reg-duration: 0.5s;
$connect-color: rgba(50,47,47,255);

/* Responsiveness */


@media screen and (max-width: 1400px) {
  .discord-text:before, .twitter-text:before, .opensea-text:before {
    content: '';
  }  
}

@media screen and (max-width: 600px) {
  .carousel-text-div {
    text-align: center;
    margin-left: 0px;
    visibility: hidden;
    position: absolute;
    display: none;
  }

  .slider {
    pointer-events: none;
  }
}

@media screen and (max-width: 500px) {
  .discord-wrapper, .twitter-wrapper, .opensea-wrapper {
    visibility: hidden;
    display: none;
    position: absolute;
  }

  .connect-wrapper {
    text-align: center;
    vertical-align: middle;
    margin-left: 10%;
  }

  .logo-wrapper {
    margin-left: 15%;
  }
  .mint-div {
    text-align: center;
    margin-left: 0px;
  }

  .mint-wrapper, .mint-text-amount-div {
    margin-left: 0%;
  }
  
}


@media screen and (max-width: 330px) {
  .carousel-text {
    visibility: hidden;
    display: none;
    position: absolute;
  }
}

/* Styling */

html {
    height: 100%;
}

body {
    height: 100%;
    background-image: linear-gradient(to bottom, $prim-purple, $prim-light-blue);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Fix top-bar container */

.top-bar {
  margin-top: 1%;
}

/* Logo stuff */

.logo-wrapper {
    width: 100px;
    height: 100px;
    margin-left: 25%;
}

.logo {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    border-radius: 100px;
    margin-top: 10px;
    box-shadow: 2px 3px rgba(50,47,47,0.4);
}

/* Socials stuff */


.socials-wrapper {
  margin-top: 10px;
}

.discord-wrapper, .twitter-wrapper, .opensea-wrapper {
  margin-top: 30px;
  margin-left: 10%;
  font-family: $font-tertiary;
  font-weight: bold;
  color: rgba(255,255,255,0.7);
  display: inline-block;
}

.discord-logo, .twitter-logo, .opensea-logo {
  width: 30px;
  cursor: pointer;
}

.discord-text, .twitter-text, .opensea-text {
  display: inline;
  font-family: $font-tertiary;
}

.discord-text:before {
  content: 'DISCORD';
}

.twitter-text:before {
  content: 'TWITTER';
}

.opensea-text:before {
  content: 'OPENSEA';
}

.discord-wrapper:hover, .twitter-wrapper:hover, .opensea-wrapper:hover {
  color: white;
  cursor: pointer;
}

/* Connect button stuff */

.connect-wrapper {
  cursor: pointer;
  width: 230px;
  padding-top: 8px;
  height: 45px;
  margin-top: 20px;
  background-color: $connect-color;
  color: white;
  font-weight: bold;
  font-size: 15px;
  flex-direction: row;
  text-align: center;
  vertical-align: middle;
  border-radius: 15px;
  box-shadow: 2px 5px rgba(50,47,47,0.4);
}

.connect-text { 
  display: inline;
  font-family: $font-tertiary;
  vertical-align: middle;
}

.connect-wallet {
  vertical-align: middle;
  width: 30px;
  margin-left: 4px;
}

.connect-wrapper:active {
  box-shadow: 1px 2px rgba(50,47,47,0.8);
  transform: translateY(4px);
}

/* Minting text */

.mint-text-amount-div {
  color: rgba(255,255,255,0.7);
  font-family: $font-tertiary;
  font-weight: bold;
  font-size: 20px;
  margin-left: -1.4vw;
}

/* Minting button */

.mint-ether {
  color: white;
}

.mint-wrapper {
  cursor: pointer;
  width: 100px;
  padding-top: 8px;
  height: 45px;
  margin-top: 20px;
  background-color: $connect-color;
  color: white;
  font-weight: bold;
  font-size: 15px;
  flex-direction: row;
  text-align: center;
  vertical-align: middle;
  border-radius: 15px;
  box-shadow: 2px 5px rgba(50,47,47,0.4);
  margin-left: -1.4vw;
}

.mint-wrapper:active {
  box-shadow: 1px 2px rgba(50,47,47,0.8);
  transform: translateY(4px);
}

.mint-text {
  display: inline;
  font-family: $font-tertiary;
  vertical-align: middle;
  color: white;
}


/* Carousel */



.carousel-text {
  font-family: $font-tertiary;
  font-weight: bold;
  font-size: 8vw;
  line-height: 0.8;
  color: white;
  margin-left: -2vw;
  margin-top: 1%;
  max-width: 80%;
  height: auto;
}

.slideshow-container {
  margin-top: 100px;
}
